#footer
{
   background-color:#dedede;
   color:#4e4e4f;
   font-size:13px;
   text-align:center;
   margin-bottom:5px;
}

#footer a, #footer a:visited
{
    color:#4e4e4f;
    font-weight:bold;
}

#footer a:hover, #footer a:focus
{
    text-decoration:underline;
}
